<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Link to the main.css file -->
    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <div class="wrapper">
        <!-- logo -->
        <div class="logo">
            <div class="container">
                <p><span>EZ</span>movies</p>
            </div>
        </div>
        <!-- end of logo -->
        

        <!-- form container -->
        <div class="form-container">
            <h2><span class="blue-text">Login</span></h2>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="name"><span class="white-text">Username:</span></label>
                    <input type="text" id="name" name="username" placeholder="Enter your username..." required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password"><span class="white-text">Password:</span></label>
                    <input type="password" id="password" name="password" placeholder="Enter your password..." required>
                </div>
                <button type="submit" class="submit-btn">Login</button>
            </form>
            <p><span class="white-text">If you don't have an account please</span> <a class="link" href="/signup"><span class="blue-text">SignUp</span></a></p>
        </div>
        <!-- end of form container -->
    </div>

</body>
</html>
